<nav class="ui inverted black menu">
    <header class="header item"> <a href="/"> Keycloak-Express </a> </header>
    <div class="right menu">
        <!--<a class="item" href="/signup"> Signup</a>-->
        <a class="item" href="/login"> Login</a>
        <a class="item" href="/saml"> SAML</a>
        <a class="item" href="/logout"> Logout</a>
        <a class="item" href="http://localhost:8080/auth/realms/hse/account/"> User@Keycloak</a>
        <a class="item" href="http://localhost:8080/auth/"> Admin@Keycloak</a>
    </div>
</nav>