{{> welcomemenu }}

<h1>Home</h1>
You are not logged in.
<i class="huge privacy icon"></i><i class="huge lock icon"></i>

<script src="/socket.io/socket.io.js"/></script>
<script src="js/client.js"></script>
